
@import url(/var.css);


.sideIcons {
    width: 40px;
    height: 40px;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;


}

.left {
    padding: 10px;
    position: absolute;
    /* height: 100%; */
    /* width: fit-content; */
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-box-shadow: 0 0 1px 1px #32ccbc;
            box-shadow: 0 0 1px 1px #32ccbc;
    /* border: 1px #32ccbc; */
    border-width: 1px;
    border-color: #32ccbc;
    border-radius: 0px 15px 15px 0;
    width: 64px;
    /* width: fit-content; */
    overflow: hidden;
    /* transition: all 2s ease-in-out; */
    left: 0;
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
}

/* .left.hidden {
width: fit-content;
} */

.icnText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: white;
    font-family: roboto;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
    gap: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;

}

.icnText:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);}

#volume
{ position: absolute;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    width: 162px;
    height: 10px;
    bottom: 100px;
    left: 100px;
    z-index: 1;
    background: transparent;
    opacity: .4;

}

#volume:hover{
    opacity: 1;
}

/* Style the track (the bar itself) */
#volume[type="range"]::-moz-range-track {
    background-color:var(--studyLightClr); /* Desired color for the track */
    height: 15px;
    border-radius: 15px 15px 15px 15px;
  }
  
  /* Style the thumb (the draggable part) */
  #volume[type="range"]::-moz-range-thumb {
    -webkit-appearance:none;
    -moz-appearance:none;
         appearance:none;
    /* height: 50px;
    width: 50px; */
    background-color: var(--studyClr); 
    cursor: pointer;
    border: 5px solid white;
    border-radius: 50%;
  }

  #volume[type='range']::-moz-range-progress{
    background-color: var(--studyClr);
    height: 15px;
    border-radius: 15px 15px 15px 15px;
  }

  /* chrome */

  #volume[type="range"]::-webkit-slider-runnable-track {
    background-color:var(--studyLightClr); /* Desired color for the track */
    height: 15px;
    border-radius: 15px 15px 15px 15px;
  }
  
  /* Style the thumb (the draggable part) */
  #volume[type='range']::-webkit-slider-thumb {
    -webkit-appearance:none;
    appearance:none;
    height: 30px;
    width: 30px;
    background-color: var(--studyClr); 
    cursor: pointer;
    border: 5px solid white;
    border-radius: 50%;

  }

  /* #volume[type='range']::-webkit-pro{
    background-color: var(--studyClr);
    height: 15px;
    border-radius: 15px 15px 15px 15px;
  } */

.right {
   
    position: absolute;
    
    width: -webkit-fit-content;
    
    width: -moz-fit-content;
    
    width: fit-content;
    top: 50%;
    right: 0px;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-box-shadow: 0 0 1px 1px #32ccbc;
            box-shadow: 0 0 1px 1px #32ccbc;
    border-radius: 15px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    font-family: roboto;
    color: white;
    /* padding: 10px; */
    
    overflow: hidden;
   

    overflow: hidden;
    width: 0px;
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);


}

.right.hidden {
    width: 200px;
}


#studyInput,
#breakInput,
#longInput {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: 18px;
    font-family:
        'roboto';
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    width: 190px;
}


#right input {
    /* width: 60px; */
    text-align: center;
    /* border-radius: 5px; */
    background: -webkit-gradient(linear, left top, right top, from(#32ccbc), to(#90f7ec));
    background: -o-linear-gradient(left, #32ccbc, #90f7ec);
    background: linear-gradient(90deg, #32ccbc, #90f7ec);
    border-radius: 50px;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* cursor: pointer; */
    height: 32px;
    /* box-shadow:
#252934 1px 1px 20px 1px, #35ccbc -1px -1px 5px 2px; */
    font-family: motaFont;
    font-size: 20px;
}

.sideText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 16px;
}

.lowerbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    padding-bottom: 16px;
}

.lowerbtn img {
    height: 44px;
    width: 44px;
    background: var(--studybtnClr);
    padding: 10px;
    border-radius: 50%;
    margin-top: -15px;
    /* box-sizing: content-box; */
    cursor: pointer;
    -webkit-box-shadow:
        #252934 1px 1px 20px 1px, #35ccbc -1px -1px 5px 2px;
            box-shadow:
        #252934 1px 1px 20px 1px, #35ccbc -1px -1px 5px 2px;
    position: relative;
}

#close img {

   background: var(--breakBtnClr);
   -webkit-box-shadow:
   #252934 1px 1px 20px 1px, var(--breakClr) -1px -1px 5px 2px;
       box-shadow:
   #252934 1px 1px 20px 1px, var(--breakClr) -1px -1px 5px 2px;
}

.display {
    display: none;
}